body{
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-family: 'Inconsolata', monospace;
}



#menu{
	background-color: #ecf0f1;
	height: 50px;
	width: 1370px;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-left: 180px;
    padding: 0;
}

li {
	float: left;
    display: inline;
    
}
li a{
	text-decoration: none;
	display: inline-block;
	padding: 14px;
	text-align: center;
	color: #283747;
	

}
li a:hover {
    background-color: #d0d3d4;
    color: black;
    border:1px solid #ecf0f1;
}
.logo{
	position: absolute;
	left: 120px;
}
#next{
    /* The image used */
    background-image: url("bg3.jpg");

    /* Set a specific height */
    min-height:500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1350px;
	height: 480px;
	text-align: center;
	position: absolute;
	top: 25px;
}
#next h1{
	font-size: 100px;
}
#next h2{
	font-size: 35px;
	margin-top: -45px;
}
#next p{
	font-size: 25px;
	width: 890px;
}
.fb{
	display: inline-block;
	padding: 12px;
	border-radius: 5px;
	width: 120px;
	border: 2px solid #00a2ff;
	text-decoration: none;
	color: #00a2ff;
}
.fb:hover{
	border: 3px solid #00a2ff;
	color: white;
	background-color: #00a2ff;
}
.insta{
	display: inline-block;
	padding: 12px;
	border-radius: 5px;
	width: 120px;
	border: 2px solid orange;
	text-decoration: none;
	color: orange;
}
.insta:hover{
	border: 3px solid orange;
	color: white;
	background-color: orange;

}
.github{
	display: inline-block;
	padding: 12px;
	border-radius: 5px;
	width: 120px;
	border: 2px solid #d6d6d6;
	text-decoration: none;
	color: #d6d6d6;
}
.github:hover{
	border: 3px solid #d6d6d6;
	color: black;
	background-color: #d6d6d6;
}
.call{
	display: inline-block;
	padding: 12px;
	border-radius: 5px;
	width: 120px;
	border: 2px solid   #27ae60;
	text-decoration: none;
	color:   #27ae60;
}
.call:hover{
	border: 3px solid  #27ae60;
	color: black;
	background-color:  #27ae60;
}
#about{
	max-height: 2000px;
	width: 1350px;
	background-color:  #f4f6f7;
	position: relative;
	top: 505px;
	color: black;
	text-align: center;
	scroll-behavior: smooth;
}
#about p{
	width: 890px;
	text-align: center;
	font-size: 20px;
	scroll-behavior: smooth;
}
#proj img{
	float: right;
}
.nova{
	position: relative;
	left: -600px;
	top: 10px;
}
#atten{
	width: 860px;
}
#atten img{
	float: left;
}
#atten h1 p {
	float: right;
	text-align: center;
}
#quizf{
	width: 860px;
	text-align: center;
}
#quizf img{
	float: right;
}
#quizf{
	float: left;
}

#favs{
	width: 750px;
	height: 380px;
}
#you{
    width: 300px;
    height: 270px;
    border: 1px solid #d0d3d4;
	float: left;
}
.yout{
	text-decoration: none;
	font-size: 20px;
}
#frame{
	width: 300px;
    height: 270px;
    border: 1px solid #d0d3d4;
	float: right;
}

#last{
	background-color: black;
	width: 750px;
	border-radius: 8px;
	opacity: 0.6;
	color: white;
	font-size: 20px;
}


@media only screen and (max-width: 800px){

	body{
		overflow-x: scroll;
	}
}